.footer {
    background-color: #1E2024 !important; /* Override Bootstrap */
    color: #ffffff !important;
    width: 100%;
    min-height: 30px;
    padding: 20px;
    margin-top: 2rem; /* Push footer to bottom */
    z-index: 2000;
}

.footer-content {
    text-align: center;
}

.footer h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem; /* Adjust size as needed */
}

.footer h2 {
    font-size: 1rem; /* Adjust size as needed */
}