.tool-box {
    background-color: var(--background);
    display: block;
    justify-content: left;
    margin: 2vh;
    border-radius: 13%;
    border: 3px solid #b65c5c;
    width: fit-content;
    height: fit-content;
    padding: 2vh;
}

.tool-box button {
    margin: 2vh;
    justify-content: center;
    display: grid;
}
.circle-option{
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid var(--primary);
}
.rectangle-option{
    display: block;
    height: 60px;
    width: 60px;
    border: 2px solid var(--primary);
}
.ellipse-option{
    display: block;
    border-radius: 55%;
    height:30px;
    width: 60px;
    border: 2px solid var(--primary);
}
.text-option{
    margin: auto;
    border: 2px solid var(--primary);
}

.tool-box h1 {
    font-size: large;
    display: flex;
    justify-content: center;
    margin: auto;
}
.triangle-option{
    display: block;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid var(--primary);
    margin: 2rem;
}

.cylinder-option .tank{
    position:relative;
    margin:50px;
}

.cylinder-option .tank .middle{
    width:120px;
    height:180px;
    background-color:#444;
    position:absolute;
}

.cylinder-option .tank .top{
    width: 120px;
    height: 50px;
    background-color:#666;
    -moz-border-radius: 60px / 25px;
    -webkit-border-radius: 60px / 25px;
    border-radius: 60px / 25px;
    position:absolute;
    top:-25px;
}

.cylinder-option .tank .bottom{
    width: 120px;
    height: 50px;
    background-color:#444;
    -moz-border-radius: 60px / 25px;
    -webkit-border-radius: 60px / 25px;
    border-radius: 60px / 25px;
    position:absolute;
    top:155px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.75)
}

.diamond-option{

}
.image-option{
    display: block;
    border: 2px solid var(--primary);
}
.simple-link{
    display: block;
    height: 0;
    width: 60px;
    border: 2px solid var(--primary);
}
.double-link{
    display: block;
    width:60px;
    height: 7px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 2px solid var(--primary);
    border-top: 2px solid var(--primary);
}

.graph-space{
    background-color: var(--background);
    border: 3px solid #b65c5c;
    display: inline-flex;
    justify-content: right;
    margin: 2vh;
    height: 800px;
    width: 1500px;
}

.main-space{
    display: flex;
}