/* navbar.module.css */
.navBar {
    background-color: var(--primary);
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

.navList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
    list-style: none;
    background-color: var(--primary);
    border-bottom: 2px solid var(--secondary); /* Replicating Bootstrap's "underline" effect */
}

.listItem {
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.navLink {
    color: var(--secondary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: var(--background);
}

@media (max-width: 768px) {
    .navList {
        flex-direction: column;
        align-items: flex-start;
    }

    .listItem {
        width: 100%;
        padding: 0.5rem;
    }
}
