.navBar {
    background-color: var(--primary);
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    color: var(--secondary);
}
.listItem{
    justify-content: center;
    padding: 10px;
    margin: 10px;
}